/* Responsivo 

    960px
    740px
*/


/* Resetando algumas propriedas padrões do HTML */

body, h1, h2, h3, p, ul {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: Georgia, serif;
    color: #252525;
}

* {
    box-sizing: border-box; /* definindo que em todo o site quando definir o tamanho de um elemento, por exemplo um link com 200px e nesse link eu adicionar uma borda, um padding esse valor não será somado mais aos 200px do tamanho e sim será incluso nos 200px de tamanho */
}

/* Finalizando o Reset */

/* Menu */

.menu {
    background: #252525;
    padding: 20px 0; /* espaçamento para cima e para baixa */
    
}

.menu-container {
    max-width: 960px; /* tamanho máximo da largura */
    margin: 0 auto; /* sem margem para cima e para baixo, porém para esquerda e direita margem automática para centralizar o conteúdo */
    
}

.menu-container::before, .menu-container::after {
    /* usando o clearfix para limpar os floats que serão utilizados, para assim conseguir fazer os elementos flutuarem a esquerda e a direita */
    content: ''; /* pseudo elementos precisam ter um conteúdo por padrão, se não não funcionam. Os '' é usado para que o Opera entenda que é um conteúdo, em outros navegadores, pode ser usados as "" */
    display: table;
    clear: both;
}

a.menu-logo {
    display: block;
    float: left;
    /* como o logo está como display block significa que ele irá pegar todo o conteúdo no caso os 960px de largura, agora como foi definido o float nele esse tamanho dele irá diminuir para apenas o próprio tamanho do elemento no caso a imagem do logo e caso aumente o tamanho do logo ou adicione outro conteúdo esse tamanho irá crescer, um elemento com float ignora o height do seu pai, nesse caso a div menu-container, como ele ignora a altura do seu pai ele passa a ser 0, por isso buga o conteúdo e não exibe. Por esses motivos é necessário utilizar o clearfix para limpar a flutuação */
    margin-left: 10px;
}

.menu-nav {
    float: right;
    margin-right: 10px;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    display: block; /* por padrão a tag a é inline, por isso está sendo alterada para block */
    padding: 10px;
    text-decoration: none; /* tirando a decoração em azul de links */
    color: #fff;
    font-size: 1.125em; /* 18 px, apenas pegar 18 é dividir pela padrão de tamanho da fonte dos navegadores que é 16 */
}

@media only screen and (max-width: 739px) {
    .menu {
        text-align: center;
    }

    .menu-nav {
        float: none; /* tirando a flutuação para os elementos não ficarem mais lado a lado */
        clear: both; /* limpando a flutuação para caso o menu precise descer, desça automaticamente */
    }

    a.menu-logo {
        float: none;
        clear: both;
        margin: 0 auto;
    }
}

/* Fim Menu */

/* Introdução */

.introducao {
    background: url('../img/bg-intro.jpg') no-repeat center center; /* centralizando para cima e para baixo e para a direita e para esquerda*/
    background-size: cover; /* sempre irá pegar 100% do tamanho da tela */
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.introducao h1 {
    font-size: 3em;
    text-transform: uppercase;
}

.introducao h1::after {
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background-color: #fff;
    margin: 10px auto;
    
}

.introducao p {
    font-size: 1.125em;
    font-style: italic;
}

@media only screen and (max-width: 739px) {
    .introducao {
        padding: 60px 0;
    }
}

/* Fim Introdução */


/* Sobre */

.sobre {
    margin: 60px auto;
}

.sobre-container {
    max-width: 960px; /* tamanho máximo da largura */
    margin: 0 auto; /* sem margem para cima e para baixo, porém para esquerda e direita margem automática para centralizar o conteúdo */
    
}

.sobre-container::before, .sobre-container::after {
    /* usando o clearfix para limpar os floats que serão utilizados, para assim conseguir fazer os elementos flutuarem a esquerda e a direita */
    content: ''; /* pseudo elementos precisam ter um conteúdo por padrão, se não não funcionam. Os '' é usado para que o Opera entenda que é um conteúdo, em outros navegadores, pode ser usados as "" */
    display: table;
    clear: both;
}

.sobre h2 {
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 60px;
    
}

.sobre-cafe {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.sobre-cafe img {
    display: block; /* irá ocupar apenas o espaço da imagem, por padrão nos navegadores é adicionado um tamanho a mais na imagem, por causa da tag img */
    max-width: 100%;

}

.sobre-cafe h3 {
    font-size: 2.25em;
    line-height: 1em;
    color: #fff;
    background-color: #252525;
    width: 220px;
    padding: 10px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    position: relative; /* definindo posição do elemento relativa a ele mesmo, para que conseguir usar o top, quando a posição é relativa o conteúdo do elemento pode estar em outro lugar, porém ainda ocupa o espaço original */
    top: -20px; /* para subir o conteúdo */
}

.sobre > p { /* falando sobre com o p que está dentro da classe sobre */
    max-width: 460px; /* definindo o tamanho máximo para que o conteúdo não fique muito grande */
    text-align: center;
    font-size: 1.125em;
    line-height: 1.4em; /* geralmente por padrão o espaçamento da quebra de linha do texto é em torno de 1.3em 1.4em 1.5.em. 1.6em */
    font-style: italic;
    margin: 20px auto; /* alinhando o conteúdo ao centro é dando uma margem para cima e para baixo */
}

@media only screen and (min-width: 740px) and (max-width: 980px) {
    .sobre-container {
        max-width: 720px; /* é definido 20 px a mais na quebra, pois no geral as barras de rolagem têm esse valor de tamanho da barra e o browser considera esse um valor do seu site */
    }

    .sobre-cafe {
      width: 340px;
    }
}

@media only screen and (max-width: 739px) {
    .sobre-container {
        max-width: 300px
    }

    .sobre-cafe {
        width: 300px;
        margin: 0 auto;
    }
}

/* Fim Sobre */

/* Produtos */

.cafe {

    background-color: #E7E4D8;
    padding: 60px 0;

    border-top: 3px solid #D6D3C8;
    border-bottom: 3px solid #D6D3C8;
}

.cafe-container {
    max-width: 960px;
    margin: 0 auto;
}

.cafe-container::before, .cafe-container::after {
    content: '';
    display: table;
    clear: both;
}

.cafe-tipos {
    width: 300px;
    float: left;
    margin: 0 10px 20px 10px; /* colocando 20px para baixo, pois quando for adptado o site para responsivo ficará melhor com esse espaçamento*/
}

.cafe-tipos h2 {
    font-size: 2.25em;
    margin-bottom: 20px;
    text-align: center;
}

.cafe-tipos h2::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: currentColor; /* pegando a cor que está como padrão */
    border-radius: 50%; /* se a borda-radius for 50% do tamanho total da largura e altura é criado uma figura redonda */
    margin: 20px auto;
    border: 5px solid #E7E4D8;
    box-shadow: 0 0 0 5px currentColor; /* definindo que terá uma sombra com o tamanho de 10px e informando que irá pegar a color que está definida por padrão */
}

h2.cafe-paulista { /* adicionado junto com o before apenas os círculos irão pegar a cor, agora sem o before o texto também irá pegar essa cor */
    color: #492901;
}

h2.cafe-carioca {
    color: #C17139;
}

h2.cafe-mineiro {
    color: #D7A54D;
}

.cafe-tipos p {
    font-size: 1.125em;
    line-height: 1.4em;

}

.cafe-botao {
    width: 180px;
    border: 3px solid;
    display: block; /* alterando para block, pois por padrão o botão é inline, isso também ajuda o botão ocupar todo o espaço dele e não apenas até onde vai o conteúdo*/
    text-decoration: none; /* tirando o estilo que veem padrão no botão */
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.125em;
    padding: 15px 0;
    color: #252525;
    margin: 20px auto 0 auto; /* definindo margem de 20px para cima e para a direita e esquerda automático para alinha o botão ao centro */
}

@media only screen and (min-width: 740px) and (max-width: 980px) {
    .cafe-container {
        max-width: 720px; /* é definido 20 px a mais na quebra, pois no geral as barras de rolagem têm esse valor de tamanho da barra e o browser considera esse um valor do seu site */
    }

    .cafe-tipos {
      width: 220px;
    }
}

@media only screen and (max-width: 739px) {
    .cafe-container {
        max-width: 300px
    }

    .cafe-tipos {
        margin: 0 auto 20px auto;
    }
}

/* Fim Produtos */

/* Locais */

.lojas {
    max-width: 960px;
    margin: 0 auto;
}

.lojas-locais {
    margin: 60px auto;
}

.lojas-locais::before, .lojas-locais::after { /* clear fix */
    content: '';
    display: table;
    clear: both;
}

.lojas-locais img {
    width: 460px;
    float: left;
    margin: 0 10px;
    display: block;
}

.lojas-locais > div {
    width: 460px;
    margin: 0 10px;
    float: left;
}

.lojas-locais h2 {
    font-size: 2.25em;
    margin-bottom: 20px;
}

.lojas-locais p {
    font-size: 1.125em;
    line-height: 1.4em;
    margin-bottom: 40px;
    max-width: 320px; /* para o texto não ficar muito grande e dificultar a leitura */
}

.lojas-locais a {
    font-size: 1.125em;
    text-decoration: none;
    text-transform: uppercase;
    color: #252525; /* definindo a cor, porquê a tag a não pega a cor padrão */
    border: 3px solid;
    padding: 10px 20px;
    
}

@media only screen and (min-width: 740px) and (max-width: 980px) {
    .lojas {
        max-width: 720px; /* é definido 20 px a mais na quebra, pois no geral as barras de rolagem têm esse valor de tamanho da barra e o browser considera esse um valor do seu site */
    }

    .lojas-locais img, .lojas-locais > div  {
        width: 340px;
    }
   
}

@media only screen and (max-width: 739px) {
    .lojas {
        max-width: 300px
    }

    .lojas-locais img, .lojas-locais > div  {
        width: 300px;
        margin: 0 auto;
    }
}

/* Fim Locais */


/* Newsletter */

.newsletter {
    background-color: #E7E4D8;
    padding: 20px 0;
}

.newsletter-container {
    max-width: 960px;
    margin: 0 auto;
}

.newsletter-container::before, .newsletter-container::after { /* clear fix */
    content: '';
    display: table;
    clear: both;
}

.newsletter-info {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.newsletter-info h2 {
    font-size: 2.25em;
    margin-bottom: 10px;
}

.newsletter-info p {
    font-size: 1.5em;
    font-style: italic;
}

.newsletter form {
    width: 460px;
    float: left;
    margin: 10px 10px 0 10px; /* colocando 10px para cima para que o form fica posicionado um pouca mais abaixo para ficar bem ao lado do newsletter */
}

.newsletter form input { /* não pega as configurações de cores padrões, por ser input e também não pega a font, por isso é necessário definir isso */
    background-color: #E7E4D8;
    border: 3px solid;
    font-family: Georgia, serif;
    padding: 10px; /* para aumentar o input e dar um espaço no texto para o lado */
    width: 320px;
    font-size: 1.5em;
    color: #252525;
    float: left;
    outline: none; /* tirando um azul que fica quando está selecionado o input */
}

.newsletter form button {
    width: 140px;
    color: #fff;
    background-color: #252525;
    float: left;
    font-size: 1.5em;
    font-family: Georgia, serif;
    padding: 13px;
    text-transform: uppercase;
    border: none;
    cursor: pointer; /* quando passar o cursor por cima dele irá ficar com o cursor clicável */
    outline: none; /* tirando um azul que fica quando clicado o botão */
}

@media only screen and (min-width: 740px) and (max-width: 980px) {
    .newsletter-container {
        max-width: 720px; /* é definido 20 px a mais na quebra, pois no geral as barras de rolagem têm esse valor de tamanho da barra e o browser considera esse um valor do seu site */
    }

    .newsletter-info, .newsletter form, .newsletter input {
        width: 340px;
    }

}

@media only screen and (max-width: 739px) {
    .newsletter-container {
        max-width: 300px
    }

    .newsletter-info, .newsletter form, .newsletter input {
        width: 300px;
        margin: 0 auto 20px auto;
    }
}

/* Fim Newsletter */

/* Rodapé */

.rodape {
    background-color: #D6D3C8;
    padding: 20px 0;
}

.rodape-container {
    max-width: 960px;
    margin: 0 auto;
}

.rodape-container::before,  .rodape-container::after {
    content: '';
    display: table;
    clear: both;
}

.rodape-container p {
    font-size: 1.125em;
    line-height: 1.4em;
    margin: 0 10px;
    float: left;
}

.rodape-container img {
    float: right;
    margin: 0 10px;
    display: block;
}

@media only screen and (max-width: 739px) {
    .rodape-container {
        max-width: 300px
    }

    .rodape-container img,  .rodape-container p  {
        float: none;
        margin: 20px 0 20px 0;
    }
}


/* Fim Rodapé */