/* Resetando algumas propriedas padrões do HTML */

body, h1, h2, h3, p, ul {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: Georgia, serif;
    color: #252525;
}

/* Finalizando o Reset */

/* Menu */

.menu {
    background: #252525;
    padding: 20px 0; /* espaçamento para cima e para baixa */
    
}

.menu-container {
    max-width: 960px; /* tamanho máximo da largura */
    margin: 0 auto; /* sem margem para cima e para baixo, porém para esquerda e direita margem automática para centralizar o conteúdo */
    
}

.menu-container::before, .menu-container::after {
    /* usando o clearfix para limpar os floats que serão utilizados, para assim conseguir fazer os elementos flutuarem a esquerda e a direita */
    content: ''; /* pseudo elementos precisam ter um conteúdo por padrão, se não não funcionam. Os '' é usado para que o Opera entenda que é um conteúdo, em outros navegadores, pode ser usados as "" */
    display: table;
    clear: both;
}

a.menu-logo {
    display: block;
    float: left;
    /* como o logo está como display block significa que ele irá pegar todo o conteúdo no caso os 960px de largura, agora como foi definido o float nele esse tamanho dele irá diminuir para apenas o próprio tamanho do elemento no caso a imagem do logo e caso aumente o tamanho do logo ou adicione outro conteúdo esse tamanho irá crescer, um elemento com float ignora o height do seu pai, nesse caso a div menu-container, como ele ignora a altura do seu pai ele passa a ser 0, por isso buga o conteúdo e não exibe. Por esses motivos é necessário utilizar o clearfix para limpar a flutuação */
    margin-left: 10px;
}

.menu-nav {
    float: right;
    margin-right: 10px;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    display: block; /* por padrão a tag a é inline, por isso está sendo alterada para block */
    padding: 10px;
    text-decoration: none; /* tirando a decoração em azul de links */
    color: #fff;
    font-size: 1.125em; /* 18 px, apenas pegar 18 é dividir pela padrão de tamanho da fonte dos navegadores que é 16 */
}

/* Fim Menu */

/* Introdução */

.introducao {
    background: url('../img/bg-intro.jpg') no-repeat center center; /* centralizando para cima e para baixo e para a direita e para esquerda*/
    background-size: cover; /* sempre irá pegar 100% do tamanho da tela */
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.introducao h1 {
    font-size: 3em;
    text-transform: uppercase;
}

.introducao h1::after {
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background-color: #fff;
    margin: 10px auto;
    
}

.introducao p {
    font-size: 1.125em;
    font-style: italic;
}

/* Fim Introdução */


/* Sobre */

.sobre {
    margin: 60px auto;
}

.sobre-container {
    max-width: 960px; /* tamanho máximo da largura */
    margin: 0 auto; /* sem margem para cima e para baixo, porém para esquerda e direita margem automática para centralizar o conteúdo */
    
}

.sobre-container::before, .sobre-container::after {
    /* usando o clearfix para limpar os floats que serão utilizados, para assim conseguir fazer os elementos flutuarem a esquerda e a direita */
    content: ''; /* pseudo elementos precisam ter um conteúdo por padrão, se não não funcionam. Os '' é usado para que o Opera entenda que é um conteúdo, em outros navegadores, pode ser usados as "" */
    display: table;
    clear: both;
}

.sobre h2 {
    font-size: 2.25em;
    text-align: center;
    margin-bottom: 60px;
    
}

.sobre-cafe {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.sobre-cafe img {
    display: block; /* irá ocupar apenas o espaço da imagem, por padrão nos navegadores é adicionado um tamanho a mais na imagem, por causa da tag img */
    max-width: 100%;

}

.sobre-cafe h3 {
    font-size: 2.25em;
    line-height: 1em;
    color: #fff;
    background-color: #252525;
    width: 220px;
    padding: 10px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    position: relative; /* definindo posição do elemento relativa a ele mesmo, para que conseguir usar o top, quando a posição é relativa o conteúdo do elemento pode estar em outro lugar, porém ainda ocupa o espaço original */
    top: -20px; /* para subir o conteúdo */
}

.sobre > p { /* falando sobre com o p que está dentro da classe sobre */
    max-width: 460px; /* definindo o tamanho máximo para que o conteúdo não fique muito grande */
    text-align: center;
    font-size: 1.125em;
    line-height: 1.4em; /* geralmente por padrão o espaçamento da quebra de linha do texto é em torno de 1.3em 1.4em 1.5.em. 1.6em */
    font-style: italic;
    margin: 20px auto; /* alinhando o conteúdo ao centro é dando uma margem para cima e para baixo */
}

/* Fim Sobre */